<h1>Videos Search</h1>


<%= link_to 'Home', root_path %><br>

<% if @videos.nil? %>

<h2>No Results</h2>

<% else %>

<table>
  <% @videos.each_slice(4) do |videos| %>
    <tr>
      <% videos.each do |video| %>
        <td>
          <%= link_to image_tag(video.image_uri, :size => "200x100"), video.uri %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<% end %>